Source: verseek
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.11~),
 pybuild-plugin-pyproject,
 autoversion (>= 1.0),
 dh-python,
Standards-Version: 4.0.0
X-Python-Version: >= 3.11

Package: verseek
Architecture: all
Depends:
 git (>= 1:2.1.4),
 ${misc:Depends},
 ${shlibs:Depends},
 autoversion (>= 1.0)
Description: List or seek a given version of a debian
 package git repo source
