Source: verseek
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.7~),
 autoversion (>= 1.0),
 dh-python
Standards-Version: 4.0.0

Package: verseek
Architecture: all
Depends:
 git (>= 1:2.1.4),
 ${misc:Depends},
 ${shlibs:Depends},
 autoversion (>= 1.0)
Description: Abstract interface for listing/accessing versions of Debian sources
