Source: verseek
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.5~),
 autoversion2,
 dh-python
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: verseek
Architecture: any
Depends:
 git (>= 1:2.1.4),
 ${misc:Depends},
 ${shlibs:Depends},
 autoversion2,
Recommends:
 sumo,
Description: Abstract interface for listing/accessing versions of Debian sources
